
<h1>Listado de productos</h1>

<ul id="productsList" style="padding: 0;">
    <li class="row align-items-center" id="item_${product.id}">
        <div class="col-8"><b>Producto</b></div>
        <div class="col-3"><b>Precio</b></div>
        <div class="col-1"><b>Acciones</b></div>
    </li>
    {{#each products}}
        <li class="row align-items-center" id="item_${product.id}">
            <div class="col-8">{{title}}</div>
            <div class="col-3">${{price}}</div>
            <div class="col-1"><a href="#" onclick="delProduct({{id}})" class="btn btn-light"><i class="fas fa-trash"></i></a></div>
        </li>
    {{/each}}
</ul>