body {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.productImage {
  width: 94px;
  height: 94px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #9f9f9f;
  object-fit: cover;
}

.card {
  background-color: #ffffff80;
}

.customRow > li {
  border-bottom: solid 1px #f89b33;
  transition: 0.3s all ease-in-out;
}
.customRow > li:hover {
  background: #f8bd2f50;
}

.customBtn {
  background: transparent;
  box-shadow: 0 0 5px 0 rgb(252, 179, 96);
}

.customBtn:hover {
  background: #f89b33;
  box-shadow: 0 0 5px 0 rgb(255, 147, 23);
}

.customBtn:hover i {
  color: rgb(255, 255, 255);
}

/* ========================================== */
/* MENSAJES */
/* ========================================== */

.liMessages {
  list-style: none;
  margin: 1rem;
}

.liMessages_me {
  margin-left: auto !important;
}

.liMessages__msgContainer {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px 0 #a7a7a7;
  border-radius: 1rem 0 1rem 1rem;
  margin-left: 2.5rem;
  background: #f9bb2f;
}

.liMessages_me__msgContainer {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px 0 #a7a7a7;
  border-radius: 0 1rem 1rem 1rem;
  margin-right: 2.5rem;
  background: #fee160;
}
