extends layouts/main.pug

block content
    h2 Crear nuevo producto
    form#form1(action='/productos', method='POST')
        .mb-3
            label.form-label(for='title') T&iacute;tulo
            input.form-control(type='text', name='title', required='')
        .mb-3
            label.form-label(for='price') Precio
            input.form-control(type='number', name='price', required='')
        .mb-3
            label.form-label(for='thumbnail') Imagen miniatura
            input.form-control(type='tel', name='thumbnail', required='')
        .d-flex
            button.btn.btn-warning.shadow(type='submit') Cargar producto
            button.btn.ms-auto(type='reset') Borrar formulario