extends layouts/main.pug

block content
    h1 Listado de productos

    if products.length> 0
        ul#productsList(style='padding: 0;').customRow
            li.row.align-items-center
                .col.p-2.ps-3
                    b Producto
                .col-2.p-2.text-center
                    b Precio
                .col-2.p-2.text-center
                    b 
            each val, key in products
                li.row.align-items-center.my-2
                    .col-auto.p-2
                        img.productImage(src=val.thumbnail alt=val.title)
                    .col.p-2=val.title
                    .col-2.p-2.text-center=val.price
                    .col-2.p-2.text-center
                        a.btn.customBtn(href='#', onclick='delProduct('+val.id+')')
                            i.fas.fa-trash
    else
        h5.text-center No hay productos