<div class="card mt-4 p-3 shadow-lg">
  <h2>Crear nuevo producto</h2>
  <form id="form1" method="POST">
    <div class="mb-3">
      <label class="form-label" for="title">Título</label>
      <input
        class="form-control"
        type="text"
        name="title"
        id="title"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="price">Precio</label>
      <input
        class="form-control"
        type="number"
        name="price"
        id="price"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="thumbnail">Imagen miniatura</label>
      <input
        class="form-control"
        type="text"
        name="thumbnail"
        id="thumbnail"
        required
      />
    </div>

    <div class="d-flex">
      <button class="btn btn-warning shadow" type="submit">Cargar producto</button>
      <button class="btn ms-auto" type="reset">Borrar formulario</button>
    </div>
  </form>
</div>

<div class="card mt-4 p-3 shadow-lg">
  <h1>Listado de productos</h1>
  <div id="productContainer"></div>
</div>

<div class="card mt-4 mb-3 px-3 pt-3 shadow-lg">
  <h1>Chat</h1>

  <form id="formMsg" method="POST" class="m-0">
    <div class="mb-3">
      <input
        class="form-control"
        type="email"
        name="email"
        id="email"
        placeholder="Inicie sesión ingresando su email"
        onchange="handleEmail()"
        required
      />
    </div>

    <div id="messageContainer" class="card p-3 shadow-lg" style="height: 70vh; overflow: auto; background-image: url('https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg');">
      <span class="text-center" id="msgWarning">Ingrese su email para que se carguen los mensajes.</br>Una vez ingresado, no podrá cambiarlo</span>
      <ul id="messageUL" style="display: flex; flex-direction: column; padding: 0">
      </ul>
    </div>

    <div class="my-2 d-flex">
      <input 
        class="form-control"
        type="text"
        name="message"
        id="message"
        placeholder="Escriba un mensaje"
        required
      />
      <button class="btn btn-warning shadow" type="submit">Enviar</button>
    </div>

  </form>

</div>